:host {
  display: block;
}

.activity-placeholder {
  display: grid;
  gap: var(--se-spacing-medium);
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
  padding: var(--se-spacing-large);
}

.activity-placeholder h1 {
  margin: 0;
  color: var(--se-color-text-default);
  font-family: var(--se-font-family);
  font-size: var(--se-font-size-heading);
  font-weight: var(--se-font-weight-bold);
  line-height: 1.2;
}

.activity-placeholder p {
  margin: 0;
  color: var(--se-color-text-muted);
  font-family: var(--se-font-family);
  font-size: var(--se-font-size-body-large);
  line-height: 1.4;
}

@media (min-width: 576px) {
  .activity-placeholder {
    padding: var(--se-spacing-xlarge);
  }
}

@media (min-width: 992px) {
  .activity-placeholder {
    margin: 0;
  }
}
